* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Neue";

}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    font-size: $fonts;
    font-weight: 400 !important;

    li{
        margin-top: 0.4rem;
    }
}
